# DATABASE_URL untuk Prisma (Supabase PostgreSQL)
DATABASE_URL="postgresql://postgres.gnvfiofubonsfcbmwoug:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.gnvfiofubonsfcbmwoug:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://[YOUR-PROJECT-REF].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="[YOUR-ANON-KEY]"
SUPABASE_SERVICE_ROLE_KEY="[YOUR-SERVICE-ROLE-KEY]"

# NextAuth
AUTH_SECRET="[YOUR-SECRET-KEY]"
NEXTAUTH_URL="http://localhost:3000"

# Stripe (opsional)
STRIPE_SECRET_KEY="[YOUR-STRIPE-SECRET-KEY]"
STRIPE_PUBLISHABLE_KEY="[YOUR-STRIPE-PUBLISHABLE-KEY]"
STRIPE_WEBHOOK_SECRET="[YOUR-STRIPE-WEBHOOK-SECRET]"


# Google OAuth
GOOGLE_CLIENT_ID="[YOUR-GOOGLE-CLIENT-ID]"
GOOGLE_CLIENT_SECRET="[YOUR-GOOGLE-CLIENT-SECRET]"
